APP_ID=
VM_NAME=
BUNDLE_ID=
PRIMARY_CATEGORY=
DESCRIPTION=
KEYWORDS=
SUPPORT_URL=
COPYRIGHT=
CONTACT_FIRST_NAME=
CONTACT_LAST_NAME=
CONTACT_PHONE=
CONTACT_EMAIL=
RELEASE_OPTION=manual
PROD_SERVER_URL=
PRIVACY_POLICY_URL=
PRIVACY_CHOICES_URL=
CDP_ENDPOINT=http://127.0.0.1:9222
